<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Tomcat-service</display-name>
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.lostbug.service.hello.HelloServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
        <url-pattern>/greeting</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PushServlet</servlet-name>
        <servlet-class>com.lostbug.service.push.PushServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PushServlet</servlet-name>
        <url-pattern>/push</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>settingOne</param-name>
        <param-value>foo</param-value>
    </context-param>
    <context-param>
        <param-name>settingTwo</param-name>
        <param-value>bar</param-value>
    </context-param>

</web-app>